{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block active %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('home') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{  path('actu') }}">Actu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{  path('forums') }}">Forums</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={{  path('about') }}>À propos</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href={{  path('admin') }}>Espace Administration</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}
    <br><br><br>
    <div style="width: 400px" class="mx-auto">
        <h1 class="h3 mb-4 font-weight-normal text-center">S'enregistrer</h1>
        <div class="form-group">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
        </div>
        <br>
        <div class="form-group">
        {{ form_row(registrationForm.password ) }}
        </div>
        <br>
        <div class="text-center">
            <button class="btn btn-lg btn-secondary" >Confirmer</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>

{% endblock %}